<div class="flex h-6 w-fit items-center gap-3" aria-hidden="true">
  <div class="h-[1.5px] w-[80.5px] rounded-[0.75px] bg-teal-gray-200"></div>
  <span class="text-body-1-regular text-teal-gray-400">or</span>
  <div class="h-[1.5px] w-[80.5px] rounded-[0.75px] bg-teal-gray-200"></div>
</div>
