---
import AuthIcon from "./AuthIcon.astro";
---

<a class="flex flex-col items-center gap-4 text-center text-teal-gray-900" href="/" aria-label="UMC PRODUCT 홈">
  <AuthIcon icon="umc" class="h-auto w-[160px]" />
  <p class="text-label-2-medium h-5">UNIVERSITY MAKEUS CHALLENGE</p>
</a>
